%h1 Analytics

.top_line
	%h2 Total Signups: #{ Signup.count }
	%h2 Total Photos: #{ Signup.count( :conditions => 'photo_path IS NOT NULL') }
	%h2 Total Tweets: #{ Status.count( :conditions => {:sent => true} ) }

.signup_options
	%p
		= link_to 'see signups', list_path
		= link_to 'see tweets', list_path+'?type=tweets'
		= link_to 'see emails', list_path+'?type=emails'
	%p
		= link_to 'download signups', list_path+'?export=true'
		= link_to 'download tweets', list_path+'?type=tweets&export=true'
		= link_to 'download emails', list_path+'?type=emails&export=true'
%br
%br

%h1 Broken-down By Show

- @by_show.each do |data|
	%h2= data.source || '(No Source Data)'

	.top_line
		%h3 Signups: #{ data.count }
		%h3 Photos: #{ data.has_photo }
		%h3 Tweets: #{ data.tweets }